.top-container {
    position: relative;
    padding-top: 100px;
    background-color: #EAF6F6;
}

body {
    display: inherit;
    margin-top: 0px;
    margin-left: 0px;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    /*background-color: #D6E4E5;*/
}

h1 {
    display: inherit;
    margin-top: 50px;
    margin-bottom: 0px;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
    line-height: 2;
}

h2 {
    margin: 50px auto 0 auto;
    font-family: 'Abril Fatface', cursive;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}

.hello-description {
    color: #40514E;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 4%;

}

h3 {
    font-family: 'Abril Fatface', cursive;
    color: #11999E;
}

.skill-row {
    width: 50%;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 100px;
    text-align: left;
    line-height: 2;
}

.middle-container {
    padding-top: 30px;
    text-align: center;
}

.My-skills {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.music {
    width: 25%;
    float: right;
    margin: 40px 0 0 30px;
}

.code {
    margin-left: 280px;
    text-align: justify;
}

.bottom-container {
    padding: 20px 20px;
    background-color: #66BFBF;
    position:
}

.bottom-cloud {
    position: absolute;

}

.top-cloud {
    position: relative;
    left: 200px;

}

p {
    font-size: 20px;
}

.contact-me {
    padding-bottom: 100px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #f5f5f5;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;

}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}

.footer-link {
    color: #11999e;
    font-family: 'Abril Fatface', cursive;
    margin: 10px 20px;
    text-decoration: none;
    font-size: 20px;

}

.footer-link:hover {
    color: white;
}

.copyright {
    color: white;
    font-size: 0.75rem;
    padding: 20px 0px;
    
}
